@page
@model BeerDatabase.Areas.Beers.Pages.IndexModel
@{
    ViewData["Title"] = "Piva";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Beers.Count == 0)
{
    <h4>Seznam piv je prázdný</h4>
    <hr />
}
else
{
    <hr />

    <div class="row row-cols-1 row-cols-md-6 g-4">
        @foreach (var b in Model.Beers)
        {
            <div class="col">
                <div class="card">
                    <div class="img-hover-zoom">
                        <a asp-page="./Details" asp-route-id="@b.BeerId"><img src="@b.ImgSrc" class="card-img-top" alt="@b.ImgTitle" title="@b.ImgTitle"></a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (Model.IsAdministrator == true)
{
    <a asp-page="./Create" class="btn btn-primary" style="margin-top: 16px;" role="button">Přidat do databáze nové pivo</a>
    <a asp-page="./Create" asp-area="BeerPubs" class="btn btn-primary" style="margin-top: 16px;" role="button">Přidat vazbu pivo – hospoda</a>
    <a asp-page="./Delete" asp-area="BeerPubs" class="btn btn-danger" style="margin-top: 16px;" role="button">Odstranit vazbu pivo – hospoda</a>
}
